*
{
    margin: 0;
    padding: 0;
}
body
{
font-family: sans-serif;    
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #0066ff, #ff99cc);
    padding: 0;
}
.navbar-brand
{
    border-radius: 42px;
    width: 20%;
    height: 60px;
    padding-left: 40px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff;
    font-weight: 650;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #FF3333 ;
    font-size: 30px;
}
.navbar-toggler
{
    outline: none;
    
}
#banner
{
    background-image: linear-gradient(to right, #0066ff, #ff99cc);
    color: #fff;
    padding-top: 5%;
}
.Web-title
{
    font-size: 50px;
    font-weight: 500;
    margin-top: 100px;
}
.play-btn
{
    width: 60px;
    margin: 10px;
}
#banner a
{
    color: antiquewhite;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;
}









































